body{
    font-family: 'Nunito', sans-serif;
    margin:0;
}

p{
    color:#071108;
}

header {
        padding: 1.5rem 0;
    background: #20A4F3;
    .logo{
        float:left;
        position: absolute;
    }
    ul{
        margin: 0;
        padding:0;
        text-align:center;
        li{
            display:inline-block;
            margin: 0 1rem;
            color:#F6F7F8;
        }
    }
}

.inner-full {
    max-width: 77rem;
    margin: 0 auto;
}

.inner-body {
    max-width: 70rem;
    margin: 0 auto;
}

.top-hero{
    height:30rem;
    .hero-txt{
            position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
    
    p{
        color:#071108;
        margin:0;
        text-align: left;
    }
    h1{
        color:#071108;
    }
}